.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 50px);
    grid-gap: 4px;

}

.header {
    grid-column-start:1;
    grid-column-end: 3;
}

.header{
    grid-column-start: 1;
    grid-column-end: 3;
}