





h1  {
    color: #886948;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
}

#button {
    margin: 25px;
    color: white;
    background-color: #E08E5F;
    font-family: Arial, Helvetica, sans-serif;
}

#collection-img {
    margin: 25px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #886948;;
}

#new-Colombia {
    background-color: #EBD7B2;
    width: fit-content;
    margin: 40px;
    padding: 20px;
}

#new-Ecuador {
    background-color: #EBD7B2;
    width: fit-content;
    margin: 40px;
    padding: 20px;
}

#new-burundi {
    background-color: #EBD7B2;
    width: fit-content;
    margin: 40px;
    padding: 20px;
}

#new-peru {
    background-color: #EBD7B2;
    width: fit-content;
    margin: 40px;
    padding: 20px;
}

#new-spring {
    background-color: #EBD7B2;
    width: fit-content;
    margin: 40px;
    padding: 20px;
}